.body {
  display: block;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.conteiner {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  /* padding: 10px; */
}

.menu {
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-ikon-lupa {
  margin-left: 20px;
}

.logo {
  margin: 0;
  margin-left: 40px;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.ikon-heart {
  margin-left: 30px;
}

.icon-basket {
  margin-left: 25px;
}

.gep-video {
  width: 100%;
}

.colections {
  position: relative;
}

.colec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 50px;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  gap: 10px;
  text-shadow: #25211f;
  color: #25211f;
}

.shop {
  position: relative;
}

.closes {
  position: absolute;
  top: 150px;
  left: 310px;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  gap: 10px;
  text-shadow: #25211f;
  color: #25211f;
}
