.conteiner {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  /* left: 8px; */
  margin: 0 auto;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  /* padding: 10px; */
}

.menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-ikon-lupa {
  margin-left: 15px;
}

.logo {
  margin: 0;
  margin-left: 34px;
  text-decoration: none;
  color: #463c38;
  font-size: 20px;
}

.ikon-heart {
  margin-left: 30px;
}

.icon-basket {
  margin-left: 15px;
}

.text {
  position: absolute;
  top: 280px;
  left: 45px;
  font-size: 20px;
  color: #706841;
}

.gep-btn {
  position: absolute;
  top: 380px;
  left: 80px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.gep-video {
  height: 200px;
  width: 100%;
}

.gep-video-sec {
  position: absolute;
  top: 440px;
  height: 200px;
  width: 100%;
}

.btn-closes {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 180px;
  height: 180px;
  background: transparent;
  border: 1px solid #debaac;
}

.btn-cl {
  margin-top: 80px;
  margin-left: 60px;
  color: #000000;
  text-shadow: #25211f;
  border: 1px solid #debaac;
  font-size: 18px;
  background-color: transparent;
}

.closes {
  position: absolute;
  top: 120px;
  left: 220px;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 10px;
  text-shadow: #25211f;
  color: #25211f;
}

.gep-video-acses {
  position: absolute;
  top: 880px;
  height: 200px;
  width: 100%;
}

.acses {
  position: absolute;
  top: 70px;
  left: 220px;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 10px;
  text-shadow: #25211f;
  color: #25211f;
}

.gep-video-colec {
  position: absolute;
  top: 1320px;
  height: 200px;
  width: 100%;
}

.colec {
  position: absolute;
  top: 70px;
  left: 220px;
  width: 30px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 10px;
  text-shadow: #25211f;
  color: #25211f;
}
/* .list {
  position: absolute;
  top: 440px;
  left: 0px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.img-first {
  width: 140px;
  height: 140px;
  background-color: #e4c5b9;
  border: 0.05px solid #463c38;
}

.list-second {
  position: absolute;
  top: 577px;
  left: 0px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.img-second {
  width: 140px;
  height: 140px;
  background-color: #e4c5b9;
  border: 0.05px solid #463c38;
} */
